#background1 {
  height: 300px;
  background-color: grey;
  margin-top: 3%;
  margin-left: 50px;
}
#headshot {
  margin-top: -210px;
  height: 250px;
  margin-left: 40px;
  border: solid 5px;
}
#background2 {
  background-color: grey;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 150px;
}
.header {
  margin-top: 100px;
  margin-left: 40px;
  font-family: "Source Code Pro", monospace;
}
.header2 {
  margin-top: 100px;
  margin-left: 360px;
  font-family: "Source Code Pro", monospace;
}
.social-media {
  height: 75px;
  margin-left: 30px;
  margin-top: 8%;
  border: solid 3px;
}
#bio {
  margin-left: 250px;
  margin-top: 50px;
  font-family: "Source Code Pro", monospace;
  color: #8bfbb0;
}
.card {
  margin-top: 30px;
  margin-left: 35px;
  font-family: "Source Code Pro", monospace;
}
